@keyframes increasesize {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


h1{
  font-size: 2em;
  text-align: center;
  line-height: 2;
}

#animate {
  animation-name: fadein;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

h2{
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
}

h3 {
  font-size: 1.4em;
  text-align: center;
  padding: 5px;
}

p {
  padding: 0 5px;
  text-align: center;
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

*:focus{
  border: 2px solid black;
}

.nav_item a{
  padding: 10px;
  text-decoration: none;
}

.nav_item a:hover, a:focus{
  color: #50C7C7;
}

body {
  font-family: "Poppins", serif;
  background-color: #FAF9F6;
  margin: 0;
  padding: 0;
  font-size: 1.4em;
}
  
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  margin-bottom:20px;
}

footer{
  background-color: black;
  color: white;
  padding: 70px;
  text-align: center;
}

.nav_links {
  display: flex;
  flex-direction: column;
  background-color: white;
}

a:link, a:visited {
  color: blue;
}

a.current:link, a.current:visited {
  color: black !important;
  font-size: 1.2em;
  text-decoration: underline;

}

.gallery_flex {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

img {
  border: 8px solid black;
  margin: 10px;
  width: 190px;
  height: 190px;
  border-radius: 25px;
}

.container {
  display: grid; 
  grid-gap: 30px;
  align-items: center;
  justify-items: center; 
}

.clubs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.club {
  flex-basis: 450px;
  padding: 30px;
}

.club > header {
  background-color: white;
  border: solid 2px black;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 50px;
}

#club1 > header {
  background-color: orange;
}

#club2 > header {
  background-color: #4CFF05;
}

.club li {
  font-size: 14px;
  margin-left: 10px;
  list-style-type: disc;
}

#image6, #image11, #image12 {
  border: 10px solid black;
  margin: 10px;
  width: 300px;
  height: 200px;
  border-radius: 25px;
}

.button {
  background-color: white;
  border: 3px solid black;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
}

#button1 {
  background-color: orange;
}

#button2 {
  background-color: #4CFF05;
}


@media screen and (min-width: 700px) {

  #animate {
    animation-name: increasesize;
  }

  p {
    padding: 0 50px;
  }

  h2{
    padding: 20px;
  }
  
  h3 {

    padding: 20px;
  }

  .container {
    display: grid; 
    grid-gap: 30px;
    align-items: center;
    justify-items: center; 
    grid-template-areas:
      "item1 item2"
      "item3 item4";
  }

  #image6, #image11, #image12 {
    width: 450px;
    height: 350px;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top:0;
    z-index: 100;
  }
    
  .nav_links {
    display: flex;
    flex-direction: row;
  }

  .clubs {
    flex-direction: row;
    flex-basis: 275px;
  }

  .club {
      flex-basis: 275px;
      z-index: 0;
  }
  
}

@media screen and (min-width: 940px) {

  p {
    padding: 0 100px;
    text-align: center;
  }

  .container {
    grid-template-areas: "item1 item2 item3 item4";
  }

  .clubs {
      flex-direction: row;
      flex-basis: 275px;
  }

  .club {
      flex-basis: 275px;
      z-index: 0;
  }
}

@media (prefers-reduced-motion) {
#logo {
      animation: none;
    }
}
